@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin-left: 121px;
}
.container {
  width: 80%;
}
h1 {
  width: 90%;
  height: 93px;
  font-size: 35px;
}
.container_header_columns_up {
  color: #1e4681;
  font-weight: bold;
  font-size: 25px;
}
.container_header_columns_down {
  font-size: 18px;
}
.container_header_columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.container_footer {
  margin-top: 160px;
}
li {
  font-size: 24px;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
  body {
    font-family: "Roboto", sans-serif;
    margin-left: 70.08px;
  }
  .container {
    width: 80%;
  }
  h1 {
    width: 386.3px;
    height: 53.86px;
    font-size: 32px;
  }
  .container_header_columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .container_header_columns_up {
    color: #1e4681;
    font-weight: bold;
    font-size: 15px;
  }
  .container_header_columns_down {
    font-size: 11px;
  }

  .container_footer {
    margin-top: 160px;
    width: 383.41px;
    height: 216.61px;
  }
  li {
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
  body {
    font-family: "Roboto", sans-serif;
    margin-left: 36px;
  }
  .container {
    width: 80%;
  }
  h1 {
    width: 310.8px;
    height: 43.34px;
    font-size: 32px;
  }
  .container_header_columns {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
  .container_header_columns_up {
    color: #1e4681;
    font-weight: bold;
    font-size: 12px;
  }
  .container_header_columns_down {
    font-size: 10px;
  }

  .container_footer {
    margin-top: 100px;
    width: 299px;
    height: 174px;
  }
  li {
    font-size: 12px;
  }
}
