@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* --------------------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0px auto;
  max-width: 1440px;
}

header {
  margin: 21px 0px 100px 121px;
}

.first-block {
  margin: 0px 245px 0px 121px;
}

.first-block__elements-wrapper {
  width: 500px;
  margin-bottom: 30px;
  /* margin-bottom: 2em; */
  display: flex;
  justify-content: space-between;
}

.first-block__element {
  display: flex;
}

.first-block__p {
  padding-left: 10px;
}

.first-block__text-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.first-block__text {
  width: 54%;
}

.first-block__h {
  font-family: "Roboto Slab",serif;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 20px;
  line-height: 1em;
}

.first-block__p-wrapper {
  max-width: 415px;
}
.first-block__h-wrapper {
  max-width: 630px;
}

.first-block__img-wrapper {
  display: flex;
  position: relative;
}

/* .first-block__ellipse {
  position: absolute;
  background: #efefef;
  height: 41px;
  top: 340px;
  bottom: 20px;
  left: -30px;
  width: 130%;
  z-index: -1;
} */

.quote-wrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.quote {
  background-color: #1e4681;
  border-radius: 5px;
  width: 500px;
  height: 200px;
  padding: 15px;
}
.quote__p-wrapper {
  color: white;
}

.quote__p {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  text-align: left;
}
.author {
  font-size: 20px;
  text-align: right;
  margin: 1em auto;
}

@media (max-width: 1279px) and (min-width: 992px) {
  /* tablet resolution */
  .container {
    width: 834px;
  }
  header {
    margin: 22px 0px 0px 70px;
  }
  .first-block {
    margin: 55px 141px 0px 70px;
  }
  /* .first-block__elements-wrapper {
    width: 400px;
  } */
  .first-block__img-wrapper {
    justify-content: flex-end;
  }
  .first-block__img {
    width: 65%;
  }
  .first-block__h {
    font-size: 46px;
  }
  .first-block__p-text {
    font-size: 12px;
  }
  .first-block__p {
    font-size: 12px;
  }
  .quote {
    width: 280px;
    height: 115px;
  }
  .quote__p {
    font-size: 14px;
  }
  .author {
    font-size: 12px;
  }
  .first-block__element {
    width: 25%;
  }
}

@media (max-width: 991px) and (min-width: 320px) {
  /* mobile resolution */
  .container {
    min-width: 375px;
    margin: 0px 30px;
  }
  header {
    margin: 36px 0px 0px 5px;
  }
  .logo {
    width: 14%;
  }
  .first-block {
    margin: 45px 32px 0px 5px;
  }
  .first-block__elements-wrapper {
    width: 80%;
    margin-bottom: 8px;
  }
  .first-block__element {
    width: 100%;
  }
  .first-block__text-wrapper {
    display: block;
    margin-bottom: 45px;
  }
  .first-block__h-wrapper {
    width: 300px;
  }
  .first-block__p-wrapper {
    width: 210px;
  }
  .first-block__img-wrapper {
    justify-content: flex-end;
  }
  .first-block__img {
    width: 142px;
  }
  .globe {
    width: 10px;
    height: 10px;
  }
  .clock {
    width: 10px;
    height: 10px;
  }
  .calendar {
    width: 9px;
    height: 10px;
  }
  .first-block__p {
    font-size: 10px;
    min-width: 75px;
  }
  .first-block__h {
    font-size: 36px;
  }
  .first-block__p-text {
    font-size: 10px;
  }
  .quote-wrapper {
    justify-content: flex-start;
  }
  .quote {
    width: 225px;
    height: 95px;
  }
  .quote__p {
    font-size: 11px;
  }
  .author {
    font-size: 10px;
    margin: 0px;
  }
}
